<div class="bg-warning">
    <div class="bg vh-100 d-flex align-items-center justify-content-center">


    <div class=" w-50 h-75 shadow-sm lh-lg rounded rounded-3 overflow-hidden sec ">
        <div class="row h-100">
            <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
                <div class="text-center w-75">
                    <h1>Login</h1>
                    <p class="text-muted" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, exercitationem. Optio, voluptate
                        commodi.</p>
                    <form [formGroup]='loginForm' (ngSubmit)='send(loginForm)'>
                        <input required  formControlName="email"  class="my-3 mx-auto form-control" placeholder="email">
                        <input required  formControlName="password"  class="my-3 mx-auto form-control" type="password" placeholder="Password">
                        <input type="submit" class="btn btn-outline-secondary">
                    </form>
                </div>
    
            </div>
            <div class="col-md-6">
                <img class="w-100 h-100" src="../../assets/images/pyramids-with-beautiful-sky-giza-cairo-egypt_87394-2.jpg" alt="">
            </div>
        </div>
    </div>

</div>
</div>
