<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a>AAL</a>
                </div>
            </div>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Dahboard</a></li>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Events</a></li>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active">table</a></li>
 
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

vbffsdafxvbcxfdxfs

